@import "tailwindcss";



@keyframes expand {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.expand {
    animation: expand 0.5s forwards;
}
.categories_ul:focus ul{
    display: block;
}