@import "tailwindcss";

:root {
    --hlcolor: #465C88;
    --text: #000000;
    --sbg: #FF7A30;
    --bg: #E9E3DF;
}

body {
    @apply text-[var(--text)];
}
.text_s{
    color: var(--hlcolor);
}
.text_hl{
    color: var(--sbg);
    cursor: pointer;
}
.container {
    @apply max-w-[1400px] mx-auto lg:px-15 md:px-10 sm:px-8 px-5;
}
.navLink {
    @apply px-3 py-2 transition-all hover:text-[var(--sbg)] cursor-default;
}

.active {
    @apply px-3 py-2 transition-all text-[var(--sbg)];
}
.padding {
    @apply lg:px-15 md:px-10 sm:px-5 px-3;
}

.btn {
    @apply p-1 px-3 bg-[var(--sbg)] border border-[var(--sbg)] text-center font-medium rounded-lg text-[var(--bg)] transition-all duration-500 hover:bg-transparent hover:text-[var(--sbg)]
}
.input{
    @apply w-full outline-none  px-2 p-1;
}
.form_input{
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-[var(--sbg)] my-1
}
.hover:hover{
    transition: .3s;
    color: var(--sbg);
    cursor: default;
}